@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <h1>Bienvenido a Prueba Técnica</h1>
    <p>Esta es la página principal. Desde aquí puedes explorar cursos o realizar evaluaciones.</p>

    <!-- Botones de navegación -->
    <div class="mt-4">
        <a href="/cursos" class="btn btn-primary me-2">Ver Catálogo de Cursos</a>
        <a href="/evaluacionesHome" class="btn btn-secondary">Realizar Evaluaciones</a>
    </div>
</div>
